.onesmarter-logo{
    width: 225px;
}
a.svelte-7q290d {
    color: #161717;
    font-style: normal;
    width: max-content;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    padding: 0 .65rem 0 .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.svelte-7q290d::before {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    content: "";
    display: inline-block;
    margin: 0 .45em 0 0;
}
a.teal.svelte-7q290d::before {
    background-color: #00e5bf;
}
a.yellow.svelte-7q290d::before {
    background-color: #002db4;
    border-radius: 0;
}